body {
	background-color: #000000;
}

.main {
	background-color: #FFFFFF;
	margin-top: 110px;
	padding-left: 100px;
	min-width: 1200px;
	height: 500px;
	position: relative;
	z-index: 1;
}

.ryu {
	float: left;
	border: 1px solid none;
}

.ryu {
	width: 659px;
	height: 494px;
}

.ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool, 
.hulk-ryu-still, .hulk-ryu-ready, .hulk-ryu-throwing, .hulk-ryu-cool {
	width: 659px;
	height: 494px;
	border: 1px solid red;
}

.ryu-ready, .ryu-throwing, .ryu-cool,
.hulk-ryu-still, .hulk-ryu-ready, .hulk-ryu-throwing, .hulk-ryu-cool {
	display: none;
}

.ryu-ready, .hulk-ryu-ready {
	background-image: url('../images/ryu-ready-position.gif');
}

.ryu-still, .hulk-ryu-still {
	background-image: url('../images/ryu-standing-still.png');
}

.ryu-throwing, .hulk-ryu-throwing {
	background-image: url('../images/ryu-throwing-hadouken.png');
}

.ryu-cool, .hulk-ryu-cool {
	background-image: url('../images/ryu-cool.gif');
}

.hadouken, .ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool {
	background-repeat: no-repeat;
}

.hadouken {
	background-image: url('../images/hadouken.gif');
	width: 156px;
	height: 90px;
	display: none;
	position: absolute;
	z-index: 10;
	top: 168px;
	left: 475px;
	float: left;
}

.hulk-ryu {
	background-repeat: no-repeat;
	position: absolute;
	-webkit-filter: hue-rotate(90deg);
	filter: hue-rotate(90deg);
	-moz-transform: scaleX(-1);
	-o-transform:scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
	margin-left: 500px;
	width: 659px;
	height: 494px;
	border: 1px solid red;
}

.click {
	position: absolute;
	left: 575px;
	width: 325px;
	padding-top: 25px;
	font-size: 30px;
	font-family: 'Audiowide';
	text-transform: uppercase;
	display: none;
	border: 1px solid red;
}

.press {
	position: absolute;
	left: 650px;
	width: 385px;
	text-align: right;
	padding-top: 190px;
	font-size: 30px;
	font-family: 'Audiowide';
	text-transform: uppercase;
	display: none;
	border: 1px solid red;
}

.hit {
	position: absolute;
	left: 575px;
	width: 400px;
	padding-top: 400px;
	font-size: 30px;
	font-family: 'Audiowide';
	color: red;
	text-transform: uppercase;
	display: none;
	border: 1px solid red;
}

.sf-logo {
	background-image: url('../images/sf-logo.png');
	background-repeat: no-repeat;
	position: absolute;
	width: 500px;
	height: 250px;
	top: 25%;
	margin-left: 450px;
	display: none;
	border: 1px solid none;
}



